
//@theme "/home/shiro/.config/rofi/themes/style_11.rasi"

//@theme "/home/shiro/.config/rofi/themes/style_2.rasi"

//@theme "/home/shiro/.config/rofi/themes/style_1.rasi"

//@theme "/home/shiro/.config/rofi/themes/style_2.rasi"

//@theme "/home/shiro/.config/rofi/themes/style_1.rasi"

@theme "/home/shiro/.config/rofi/themes/style_2.rasi"
