@define-color foreground #3A4046;
@define-color background #fdfdfe;
@define-color cursor #3A4046;

@define-color color0 #fdfdfe;
@define-color color1 #B1B7CD;
@define-color color2 #A9D1D2;
@define-color color3 #A0D6E3;
@define-color color4 #9BE8F9;
@define-color color5 #AEECF7;
@define-color color6 #DBD4E5;
@define-color color7 #3A4046;
@define-color color8 #929496;
@define-color color9 #B1B7CD;
@define-color color10 #A9D1D2;
@define-color color11 #A0D6E3;
@define-color color12 #9BE8F9;
@define-color color13 #AEECF7;
@define-color color14 #DBD4E5;
@define-color color15 #3A4046;
