@define-color foreground #e8e4e1;
@define-color cursor #e8e4e6;

@define-color background #211f1e;
@define-color red #4E7B83;
@define-color green #659193;
@define-color yellow #46ADB0;
@define-color blue #A2A7A2;
@define-color magenta #D9AEA3;
@define-color cyan #BEC8C2;
@define-color pink #daa6ca;
