@define-color foreground #e8e4e6;
@define-color cursor #e8e4e6;

@define-color background #262633;
@define-color red #EC9891;
@define-color green #A4DCA6;
@define-color yellow #F8EFB1;
@define-color blue #6DADC9;
@define-color magenta #ACA9D5;
@define-color cyan #95E8F0;
@define-color pink #daa6ca;
