@import "colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;
  min-height: 10px;
}

window#waybar {
  padding: 0;
  margin: 0;
  border: 0px solid transparent;
  border-radius: 0;
  background: transparent;
}

window > box {
  padding: 10px 10px 0 10px;
  margin: 0;
  background: transparent;
}

/***********************************/
/********** LEFT MODULES **********/
/*********************************/

#idle_inhibitor {
  opacity: 1;
  margin: 0;
  margin-right: 10px;
  padding: 0 18px 0 15px;
  border-radius: 10px;
  transition: none;
  background: alpha(@background, 0.8);
  color: @color1;
  transition: 0.3s;
}

#idle_inhibitor.activated {
  color: @color1;
}

#idle_inhibitor.deactivated {
  color: @color7;
}

#idle_inhibitor.deactivated:hover {
  color: @color9;
}

#window {
  opacity: 1;
  margin: 0;
  padding: 0px 20px;
  background: none;
  color: @color7;
  transition: 0.3s;
}

#taskbar button {
  border-radius: 2px;
  transition: 0.3s;
}

#taskbar button:hover {
  background: none;
}

#taskbar button.active {
  background: #89b4fa;
}

/*************************************/
/********** CENTER MODULES **********/
/***********************************/

#workspaces {
  background: alpha(@background, 0.8);
  opacity: 1;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  border-top: none;
  color: @color7;
  transition: 0.3s;
}

#workspaces button {
  margin: 0 5px;
  padding: 2px;
  border-radius: 10px;
  border-top: none;
  color: @color1;
  background: @color1;
  transition: 0.3s;
}

#workspaces button.active, #workspaces button:hover, #workspaces button.active:hover {
  color: @color3;
  background: @color3;
  padding: 2px 10px;
}
#workspaces button.empty {
    color: @color7;
}

#clock {
  opacity: 1;
  margin: 0;
  margin-right: 5px;
  padding: 0 20px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: alpha(@background, 0.8);
  color: @color1;
  font-weight: bold;
  transition: 0.3s;
}

#mpris {
  padding: 5px 10px;
  color: alpha(@foreground, 0.9);
  background: alpha(@background, 0.5);
  font-size: 10px;
  border-radius: 2px;
  transition: all 0.5s linear;
  /*background: linear-gradient(-45deg, @color1, @color14, @color0, @color11);*/
}

#mpris.playing {
  color: @color4;
}

#mpris.paused {
  color: @color2;
}

/************************************/
/********** RIGHT MODULES **********/
/**********************************/

#custom-updates {
  padding: 0 5px 0 10px;
  margin: 0;
  margin-right: 5px;
  padding-right: 10px;
  border-radius: 10px;
  background: alpha(@background, 0.8);
  color: @color1;
}

#tray {
  background: alpha(@background, 0.5);
  opacity: 1;
  border-radius: 2px;
  margin: 0;
  margin-right: 5px;
  padding: 0 15px;
  margin-bottom: 0px;
  color: #2e3c49;
  transition: 0.3s;
}

#tray menu {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  margin-bottom: 0px;
  border-radius: 5px;
  transition: none;
  background: alpha(@color0, 0.3);
  color: #89b4fa;
  transition: 0.3s;
}

#cpu {
  margin: 0;
  padding: 0 10px;
  margin-bottom: 0px;
  border-radius: 10px 0 0 10px;
  background: alpha(@background, 0.8);
  color: @color1;
  transition: 0.3s;
}

#temperature {
  opacity: 1;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 0px;
  border-radius: 0;
  background: alpha(@background, 0.8);
  color: @color1;
  transition: 0.3s;
}

#memory {
  opacity: 1;
  margin: 0;
  padding: 0 10px;
  border-radius: 0;
  background: alpha(@background, 0.8);
  color: @color1;
  transition: 0.3s;
}

#pulseaudio {
  opacity: 1;
  margin: 0;
  padding: 0px 10px;
  margin-bottom: 0px;
  border: 5px solid transparent;
  border-radius: 0;
  background: alpha(@background, 0.8);
  color: @color1;
  transition: 0.3s;
}

#pulseaudio:hover {
  color: @color3;
}

#pulseaudio.muted {
  color: #f38ba8;
  background: none;
  transition: 0.3s;
}

#pulseaudio.muted:hover {
  background: #f38ba8;
  color: #2e3c49;
}

#custom-vpn {
  opacity: 1;
  margin: 0 5px 0 0;
  padding: 0 10px;
  background: alpha(@background, 0.8);
  color: @color1;
  border-radius: 10px;
}

#custom-power {
  opacity: 1;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 0px;
  border-radius: 0 10px 10px 0;
  background: alpha(@background, 0.8);
  color: @color1;
  transition: 0.3s;
}

#custom-power:hover {
  color: @color3;
}
