# Base16 {{scheme-name}}
# Author: {{scheme-author}}

$color0 = 0xff{{base00-hex}}
$color1 = 0xff{{base01-hex}}
$color2 = 0xff{{base02-hex}}
$color3 = 0xff{{base03-hex}}
$color4 = 0xff{{base04-hex}}
$color5 = 0xff{{base05-hex}}
$color6 = 0xff{{base06-hex}}
$color7 = 0xff{{base07-hex}}
$color8 = 0xff{{base08-hex}}
$color9 = 0xff{{base09-hex}}
$color10 = 0xff{{base0A-hex}}
$color11 = 0xff{{base0B-hex}}
$color12 = 0xff{{base0C-hex}}
$color13 = 0xff{{base0D-hex}}
$color14 = 0xff{{base0E-hex}}
$color15 = 0xff{{base0F-hex}}